<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- To enable JMX Management -->
	<jmxConfigurator />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %logger{0} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- <appender name="file" class="ch.qos.logback.core.FileAppender">
		<file>/log/testFile.log</file>
		<append>true</append>
		encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>
 -->
	<!--<logger name="org.hibernate" level="debug"/> -->
	<logger name="org.springframework" level="debug" />
	<logger name="com.june.app" level="debug" />

	<root level="debug">
		<appender-ref ref="console" />
		<!-- <appender-ref ref="file" /> -->
	</root>
</configuration>
